@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
  font-family: Oswald;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;                         
}

button {
  cursor: pointer;
}

#form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-inputs * {
  margin-top: 10px;
}

#form-inputs select:hover, #form-inputs label:hover {
  cursor: pointer;
}

#submission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#submission input {
  background-color: black;
  color: white;
  width: 50vw;
  height: 10vh;
  border: none;
}

#submission input:hover {
  border: 3px solid greenyellow;
  cursor: pointer;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  width: 5em;
  height: 5em;
}

#question-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

#options button {
  flex: 40%;
  background-color: black;
  width: 25vw;
  height: 7vw;
  border: none;
}

#options button:hover {
  border: 3px solid greenyellow;
}

#options button span {
  color: white;
}